<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
  <!-- Meta tag -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/img/logo_BSRK.ico" type="image/x-icon">
  <!-- Title tag -->
  <title>Học viện BSRK</title>
  <!-- css -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
  <!--========================================================
                          HEADER
  =========================================================-->
  <%- include('../components/header', {name : name}); %>
  <!--========================================================
                          BREADCRUMB
  =========================================================-->
  <section class="breadcrumb"
    style="height :700px; margin-bottom : 0px!important;background-image : url(/assets/img/brdrhr/background_1.jpg); background-size : cover; background-position: center">
    <div class="d-flex flex-column justify-content-center"
      style="height : 720px; margin-top : -200px;width : 100vw;background-color : rgba(34,34,34,0.4) ">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h1 style="color : white; font-size : 7vw">Be Real - Do Real - Have Real</h1>
            <h2 class="align-text-center mb-4" style="color :  #ffcc00">GET REAL WITH RICH DAD</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--========================================================
                        NEWS
  =========================================================-->
  <section class="news-single">
    <div class="container-fluid">
      <div class="d-flex flex-row align-items-center"
        style="padding-top : 250px; padding-bottom : 250px;position : relative;background-image : url(/assets/img/brdrhr/background_2.png); background-size:contain;background-repeat: no-repeat; background-position: center">
        <div class="col-md-7 d-flex flex-column align-items-end ">
          <div class="col-md-8" style="color : #2b2b2b; font-size : 25px; ;font-family: Now; font-weight: bold">
            <h2 class="mb30 mt-2 mb-4 "
              style="color : #7f4782; font-weight: 1000; font-size : 3.5vw; font-family: Kanit">THƯ NGỎ</h2>
            <q style="font-weight: 300">Hãy cho chúng tôi được gửi tặng món quà
              này đến với các con. Xin mời quý Phụ Huynh
              cùng các con gia nhập vào cộng đồng gia đình Học viện
              Blair Singer và BS-RK, cùng chúng tôi <strong style="font-weight: bold">ĐÁNH THỨC THIÊN TÀI</strong>
              trong các con...</q><br />
            <p style="font-weight: 300; font-size : 20px; color : #aa5c9f; margin-bottom: 30px">- Theresa Huong, founder
              Học viện Blair Singer -</p>

            <a href="#" class="load-more px-4 py-3 mt-5" style="color : #aa5c9f" data-toggle="modal"
              data-target=".bd-example-modal-lg"><i class="ti-layout-grid2"></i> Đọc thêm</a>

          </div>
        </div>
        <div class="col-md-5 d-flex flex-column align-items-start">
          <img src="/assets/img/brdrhr/theresa_huong.png" width=250 alt="" />
        </div>
      </div>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Tâm Thư Gửi Đến Phụ Huynh</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div style="font-family: Now; font-size : 25px">
                <p>Quý phụ huynh thân mến!</p><br />
                <p>Xin mến chào quý vị, tôi là Theresa Hương - Đại diện chính thức đầu tiên của Học viện Blair Singer
                  tại Việt Nam. </p><br />
                <p style="text-indent: 40px;">Tôi viết những dòng này với mong muốn cháy bỏng có thể cùng quý Phụ Huynh
                  thấu hiểu và đồng hành cùng con một cách xác đáng.</p>
                <br />
                <p style="text-indent: 40px;">Theo thống kê ở Singapore, trong năm 2018, có đến hơn 400 đứa trẻ chết do
                  ÁP LỰC HỌC ĐƯỜNG. Trong số đó, nhiều nhất là trẻ em ở độ tuổi 14. Liệu thống kê này có là điều đáng
                  báo động cho cả trẻ em ở Việt Nam?</p>
                <br />
                <p style="text-indent: 40px;">Chính bản thân tôi - với vai trò là một Người Mẹ, sau khi “mắt thấy, tai
                  nghe” các số liệu và câu chuyện từ các bạn trẻ xung quanh mình, tôi cũng đã trăn trở rất nhiều: “Liệu
                  việc đưa con đến trường mỗi ngày, nhồi nhét những kiến thức con không muốn và không thích? Đánh giá
                  con qua những con điểm từ trường học, điểm cao của con đâu?... Không biết rằng chính mình đã trở thành
                  một người mẹ tốt,
                  một người bạn với con hay chưa? Có cùng con tâm sự?... Hay một cách vô tình chúng ta đang đánh cắp
                  tuổi thơ của các con -
                  gia tài vô giá không bao giờ trở lại? </p>
                <br />
                <p style="align-content : center; text-indent: 40px;">Chính bản thân tôi -
                  với vai trò là một Nhà Huấn Luyện, đã cùng đồng đội của mình quyết định
                  lựa chọn theo đuổi định hướng mới trong sự nghiệp Giáo Dục, một định hướng còn khó khăn ở thị trường
                  Việt Nam. Chúng tôi, những người cũng làm Cha Mẹ, mong muốn đem tặng “tuổi thơ” cho các con thông qua
                  một sân chơi đầy bổ ích, cho con được làm điều con thích nhưng lại là những điều thực sự cần thiết cho
                  tương lai con. Chúng tôi tặng cho con “môi trường” đầy niềm vui
                  và năng lượng tích cực cùng những người bạn tốt, cùng mục tiêu. Chúng tôi tặng con “mái nhà” bình an
                  và hạnh phúc để con nương tựa khi cảm thấy áp lực. Chúng tôi chia sẻ cùng con!</p>
                <br />
                <p style="text-indent: 40px;">Chương trình này được xây dựng dựa trên nền tảng
                  kiến thức vững vàng hơn 20 năm từ 2 người thầy vĩ đại:
                  Thầy Blair Singer - Vua Bán Hàng và Thầy Robert Kiyosaki -
                  Triệu Phú Bất Động Sản, tác giả bộ sách bán chạy mọi thời đại
                  Cha Giàu Cha Nghèo. Giảng viên là các Cha Mẹ, Nhà Huấn Luyện với kinh nghiệm
                  hơn 20 tại cách doanh nghiệp trong và ngoài nước.</p>
                <br />
                <p style="text-indent: 40px;">Hãy cho chúng tôi được gửi tặng món quà
                  này đến với các con. Xin mời quý Phụ Huynh
                  cùng các con gia nhập vào cộng đồng gia đình Học viện
                  Blair Singer và BS-RK, cùng chúng tôi ĐÁNH THỨC THIÊN TÀI
                  trong các con, khai mở tư duy với các kiến thức chuyên sâu
                  về não bộ, xây dựng thái độ làm việc và đặc biệt là khai
                  mở tiềm năng về kinh doanh và đầu tư tài chính của con.
                </p>
                <br />
                <p style="text-indent: 40px;">Chúng tôi mong mỏi được cùng hợp tác với quý Phụ Huynh
                  trên hành trình đưa các con đến thành công của chính mình!</p>
                <br />
                <p>
                  Thân gửi,<br />
                  Theresa Hương.
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex flex-column justify-content-center align-items-center"
        style="padding-top : 150px; padding-bottom : 150px ;background-color : #7f4782">
        <img src="/assets/img/brdrhr/activities.png" width=500 alt="" />
        <h2 class=" my-3" style="color : #fdd043 ;font-weight: 1000; font-size : 60px; font-family: Kanit">MỤC TIÊU</h2>
        <ul class="col-lg-5" style="color : white;font-size : 20px; font-family: Now">
          <li class="my-2 wow fadeInUp" data-wow-delay=".1s"><img src="/assets/img/icon/setting.svg" class="mr-2"
              width=30 height=30 />

            Bồi dưỡng <strong>kỹ năng</strong> về <strong>phát triển não bộ, tư duy, thái độ</strong>
            & kỹ năng chuyên môn: từ cha giàu <Strong>ROBERT KIYOSAKI, BLAIR SINGER & JOSEPH-THERESA
              Hương</Strong> đã trải nghiệm.</li>

          <li class="my-2 wow fadeInUp" data-wow-delay=".2s"><img src="/assets/img/icon/context.svg" class="mr-2"
              width=40 height=40 />Tạo một <strong>môi trường học tập hiện đại</strong>: đúc kết những <strong>bài học
              thiết thực</strong> thông qua <strong>mắc lỗi an toàn</strong>.</li>
          <li class="my-2 wow fadeInUp" data-wow-delay=".3s"><img src="/assets/img/icon/brain.svg" class="mr-2" width=40
              height=40 />Phát triển tối đa <strong>7 lĩnh vực trí thông minh</strong> để <strong>đánh thức thiên
              tài</strong> trong con.</li>
        </ul>
      </div>

      <div class="row" style="background-color : #2b2b2b;  padding-top : 150px; padding-bottom : 150px">

        <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
          <h2 class=" mt-3 " style="color : #fdd043 ;font-weight: 1000; font-size : 60px; font-family: Kanit">COMBO 4
          </h2>
          <h3 class="align-text-center mb-4" style="color :  white;">Dành cho học viên từ 10 - 15 tuổi</h3>
          <div class="d-flex flex-row justify-content-center align-items-center">
            <div>
              <img class="mr-3" src="/assets/img/brdrhr/seed.jpg" alt="" width=300>
              <p style="color : white" class="text-center">ƯƠM MẦM<BR /> Mỗi Con Trẻ Là Một Thiên Tài</p>
            </div>
            <div>
              <img class="mr-3" src="/assets/img/brdrhr/sow.jpg" alt="" width=300>
              <p style="color : white" class="text-center">GIEO HẠT<BR />Đánh Thức Thiên Tài Tài Chính & Sáng Tạo</p>
            </div>
            <div>
              <img class="mr-3" src="/assets/img/brdrhr/grow.jpg" alt="" width=300>
              <p style="color : white" class="text-center">PHÁT TRIỂN<BR />Trainer Idol</p>
            </div>
            <div>
              <img src="/assets/img/brdrhr/breakthrough.jpg" alt="" width=300>
              <p style="color : white" class="text-center">BỨT PHÁ<BR />Tiếng Anh Trong Kinh Doanh & Đầu Tư Tài Chính
              </p>
            </div>
          </div>
        </div>
      </div>

      <%- include('../components/teachers_course'); %>
    </div>

  </section>

  <!--========================================================
                          FOOTER
  =========================================================-->
  <%- include('../components/footer'); %>
  <!--========================================================
                        Loader and toTop
  =========================================================-->
  <div id="preloader">
    <div class="preloader">
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="toTop">
    <i class="ti-arrow-up"></i>
  </div>

  <!-- js -->
  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js  "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>



</html>