<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from picwik.netlify.com/news-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 06:52:37 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <!-- Meta tag -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/img/logo_BSRK.ico" type="image/x-icon">
  <!-- Title tag -->
  <title>Học viện BSRK</title>
  <!-- css -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
  <!--========================================================
                          HEADER
  =========================================================-->
  <%- include('../components/header', {name : name}); %>
  <!--========================================================
                          BREADCRUMB
  =========================================================-->
	<section class="breadcrumb"
		style="margin-bottom : 0 ;height :700px; background-image : url(/assets/img/dtttc/background.jpg); background-size : cover; background-position: center">
		<div class="d-flex flex-column justify-content-center"
			style="height : 720px; margin-top : -200px;width : 100vw;background-color : rgba(34,34,34,0.4) ">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<h1 style="color : white; font-size : 7vw">Đánh Thức Thiên Tài<br/>Tài Chính</h1>
            <h2 class="align-text-center mb-4" style="color :  #ffcc00">AWAKE YOUR FINANCIAL GENIUS</h2>

          </div>
				</div>
			</div>
		</div>
	</section>
  <!--========================================================
                        NEWS
  =========================================================-->
	<section class="news-single  d-flex flex-column align-items-center">
		<div class="container-fluid pt-5"
			style="background-image : url(/assets/img/dtttc/background_1.png); background-size:contain">
			<div class="row d-flex flex-row align-items-center"
				style="padding-top : 200px; padding-bottom : 200px;position : relative;">
				<div class="col-md-7 d-flex flex-column align-items-end mb-5">
					<div class="col-md-8" style="color : #2b2b2b; font-size : 25px; ;font-family: Now; font-weight: bold">

            <q>Academics qualifications are important and so is financial education. They're both important and
              schools are forgetting one of them
            </q>
            <p style="color : #7f4782;font-size : 20px">- Robert Kiyosaki </p>
            <i style = "margin-top : 10px;font-weight : 200; font-size : 20px; color : gray; line-height : 1">
              Tạm dịch:
              <br/>
              <q>Bằng cấp học vấn rất quan trọng thì giáo dục
              tài chính cũng thế. Cả 2 đều quan trọng. Vậy
              tại sao trường học lại lại có thể KHÔNG NHỚ
              giảng dạy 1 trong 2 điều này.</q>
            </i>
					</div>
				</div>
				<div class="col-md-5 d-flex flex-column align-items-start">
					<img src="/assets/img/dtttc/robert-kiyosaki.png" width=350 alt="" />
				</div>
      </div>
      
      <div class="row d-flex flex-column justify-content-center align-items-center"
      style="padding-top : 150px; padding-bottom : 150px ;background-color : #7f4782">
        <img src="/assets/img/dtttc/richdad.png" width=400 alt="" />
        <h2 class=" my-3" style="color : #fdd043 ;font-weight: 1000; font-size : 60px; font-family: Kanit">16 Bài Học Từ Cha Giàu</h2>
        <ul class="col-lg-5" style="color : white;font-size : 20px; font-family: Now">
          <li class="my-2 wow fadeInUp" data-wow-delay=".1s"><img src="/assets/img/icon/setting.svg" class="mr-2"
              width=30 height=30 />
              "Bài Học 1: Người Giàu Không Làm Việc Vì Tiền"
          </li>
          <li class="my-2 wow fadeInUp" data-wow-delay=".1s"><img src="/assets/img/icon/setting.svg" class="mr-2"
            width=30 height=30 />
            "Bài Học 5: Nợ Giúp Người Giàu Giàu Hơn"
        </li>
        <li class="my-2 wow fadeInUp" data-wow-delay=".1s"><img src="/assets/img/icon/setting.svg" class="mr-2"
            width=30 height=30 />
            "Bài Học 7: Người Giàu Không Dùng Ngôn Từ Của Người Nghèo"
        </li>
        </ul>
        <a href="#" class="load-more px-4 py-3 mt-5" style="color : #aa5c9f" data-toggle="modal"
        data-target=".bd-example-modal-lg"><i class="ti-layout-grid2"></i> Đọc thêm</a>
      </div>

      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Tâm Thư Gửi Đến Phụ Huynh</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div style="font-family: Now; font-size : 15px">
                  <p>Bài học 1: Người giàu không làm việc vì tiền để con nhận ra
                      mình phải dùng tiền thế nào ngay từ hôm nay để sống và làm theo cách thức
                      Cha Giàu đã dạy.</p>
                    <br/>
                    <p>Bài học 2: Xây dựng tư duy giàu có trước khi tiền vào trong túi để
                      con biết sử dụng kỹ thuật gieo cấy tư duy giàu có và hút vào cuộc sống sự thịnh
                      vượng tinh khôi thuở học trò thông qua việc thiết lập mục tiêu nhà vô địch.</p>
                      <br/>
                    <p>Bài học 3: Tập trung hoàn thành một việc cho đến khi thành công để
                      con nhận ra điều mình thực sự mong muốn trong cuộc đời và trách nhiệm cao
                      quý để thực hiện mục tiêu mình đã đề ra và cam kết.</p>
                      <br/>
                    <p>Bài học 4: 6 từ khoá quan trọng nhất để thành công & giàu có để con
                      lựa chọn nghề nghiệp cho chính mình một cách đúng đắn nhằm bắt đầu thiết
                      kế tương lai ngay từ hôm nay.</p>
                      <br/>
                    <p>Bài học 5: Sự khác biệt duy nhất giữa NỢ của NHÀ GIÀU & NỢ của
                      NHÀ NGHÈO để con biết cách sử dụng NỢ THÔNG MINH ngay từ hôm nay
                      nhằm giúp phụ giúp cha mẹ trong việc tạo lập sự thịnh vượng tài chính cho gia
                      đình của mình.</p>
                      <br/>
                    <p>Bài học 6: Không phải VẤN ĐỀ mà đó là CƠ HỘI để con học cách chuyển
                      đổi vấn đề thành cơ hội phát triển bản thân, tự tin vững vàng bước vào đời với
                      tư duy tích cực của người thành đạt.</p>
                      <br/>
                    <p>Bài học 7: Người GIÀU không dùng ngôn từ của người nghèo để con
                      tự phân tích ngôn từ của mình rồi hiệu chỉnh chúng từ chính trải nghiệm các
                      trò chơi tài chính trong chương trình.</p>
                      <br/>
                    <p>Bài học 8: Không có THUA, mọi biến cố đều là trải nghiệm. Có khi
                      con CHIẾN THẮNG, có khi con rút ra được những bài học quý giá
                      để con biết cách dùng tuổi trẻ của mình để trải nghiệm, chứ không phải để
                      “học gạo”.</p>
                      <br/>
                    <p>Bài học 9: ĂN MỪNG MỌI CHIẾN THẮNG của con và xung quanh con
                      để con luôn tràn đầy năng lượng và tích luỹ cho mình tư duy của NHÀ VÔ ĐỊCH
                      – của NGƯỜI CHIẾN THẮNG trong cuộc sống.</p>
                      <br/>
                    <p>Bài học 10: Các trò chơi SỐ đều cần NĂNG LƯỢNG để con nhận ra điểm
                      số ở trường hay điểm số trên bảng tài chính cá nhân quyết định sự thành công
                      trong tương lai. Chất lượng của các mối quan hệ với thầy cô và bạn bè đều bắt
                      nguồn từ năng lượng trái tim.</p>
                      <br/>
                    <p>Bài học 11: Quan trọng hơn cả TIỀN là một đội nhóm những con
                      người có tư duy làm chủ cuộc chơi của cuộc đời mình để con lựa
                      chọn bạn bè và đội nhóm con muốn dành thời gian nhiều nhất khi còn ngồi
                      trên ghế nhà trường vì con chính là phản chiếu của 5 người bạn thân thiết.</p>
                      <br/>
                    <p>Bài học 12: Nếu con muốn giàu có, KHÔNG BIỆN MINH vì càng biện
                      minh, giải thích, bịa chuyện, con càng thất bại trong cuộc đời.</p>
                      <br/>
                    <p>Bài học 13: Trường học là lò đào tạo những người lao động. Trường
                      đời đào tạo những DOANH NHÂN GIÀU CÓ để con xây dựng ý thức
                      học tập đúng đắn ngay hôm nay và quyết định xây dựng tư duy DOANH NHÂN
                      GIÀU CÓ cho chính mình ngay hôm nay thông qua GAMES CASHFLOW.</p>
                      <br/>
                    <p>Bài học 14: Sự HY SINH là cái giá phải có để THÀNH CÔNG để con tự
                      nhận ra mình cần hy sinh những gì với chiếc điện thoại, Ipad, TV hằng giờ, . . .</p>
                      <br/>
                    <p>Bài học 15: Trong 7 lãnh vực TRÍ THÔNG MINH thì IQ nào quan
                      trọng nhất để ĐẢM BẢO CHO THÀNH CÔNG & GIÀU CÓ để con có kế
                      hoạch học tập chuyên sâu cho lãnh vực trí thông minh này PHÁT TRIỂN ngay từ
                      hôm nay.</p>
                      <br/>
                    <p>Bài học 16: Muốn THÀNH CÔNG & GIÀU CÓ, phải có cú Chạm Tay
                      MIDAS để con nắm được bí quyết thành công của những nhân vật nổi tiếng
                      trong bàn tay bé nhỏ của mình.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
		</div>
		</div>
	</section>

  <!--========================================================
                          FOOTER
  =========================================================-->
  <%- include('../components/footer'); %>
  <!--========================================================
                        Loader and toTop
  =========================================================-->
  <div id="preloader">
    <div class="preloader">
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="toTop">
    <i class="ti-arrow-up"></i>
  </div>

  <!-- js -->
  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js  "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>


<!-- Mirrored from picwik.netlify.com/news-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 06:52:39 GMT -->
</html>