<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <!-- Meta tag -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/img/logo_BSRK.ico" type="image/x-icon">
  <!-- Title tag -->
  <title>Học viện BSRK</title>
  <!-- css -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/main.css">

</head>
<style>
    .learn-things-list-items{
        font-size : 70px;
        color : #fdd043
    }
    .learn-things-list-items__purple {
        font-size : 70px;
        color : #7f4782;
    }
    .quote-custom::after,.quote-custom::before {
        content : "\" ";
        font-size : 50px;
        font-style: italic
    }
</style>
<body>
  <!--========================================================
                          HEADER
  =========================================================-->
  <%- include('../components/header', {name : name}); %>
  <!--========================================================
                          BREADCRUMB
  =========================================================-->
	<section 
		style=" background-image : url(/assets/img/trainer-idol/presentation.jpg); background-size : cover; background-position: center">
		<div class="d-flex flex-column justify-content-center"
			style="padding-top : 300px; padding-bottom : 300px;background-color : rgba(34,34,34,0.4) ">
			<div class="container">
				<div class="row">
					<div class="col">
						<h1 style="color : white; font-size : 65px">Bức Phá Đa Chiều Trong <br/>Tiếng Anh Tài Chính</h1>
            <h2 class="align-text-center mb-4" style="color :  #ffcc00">QMT English in Finance</h2>
          </div>
				</div>
			</div>
		</div>
	</section>
  <!--========================================================
                        NEWS
  =========================================================-->
	<section class="news-single  d-flex flex-column align-items-center">
		<div class="container-fluid">
			<div class="row d-flex flex-row align-items-center"
				style="padding-top : 200px; padding-bottom : 200px;position : relative;
                    background-image : url(/assets/img/qmt-english/background.png); 
                    background-size:contain;
                    background-color : #7f4782; 
                    background-repeat : no-repeat;
                    background-position: center">
                    <DIV class = "col-md-1"></DIV>
                <div class="col-md-5" style="color : white; font-size : 25px; ;font-family: Now; font-weight: bold">
                        <h2 class="mb30 mt-2 mb-4 "
                        style="color : #fdd043; font-weight: 1000; font-size : 60px; font-family: Kanit">THƯ NGỎ</h2>
                        <p class = "quote-custom" style="font-weight: 300"> Sự thông thạo tiếng Anh sẽ giúp
                                con có được lợi thế khác biệt so với bạn bè
                                cùng trang lứa, là niềm tự hào của cha mẹ và
                                quê hương mình....</p><br />
                        <p style="font-weight: 300; font-size : 20px; color : #fdd043;">- Theresa Huong, Người sáng lập Học viện BSTA-</p>
                        <p style="font-weight: 300; font-size : 20px; color : #fdd043; margin-bottom: 30px">- Joseph Nguyễn, Người sáng lập Học viện BS-RK-</p>            
                        <a href="#" class="load-more px-4 py-3 mt-5" style="color : #aa5c9f" data-toggle="modal"
                        data-target=".bd-example-modal-lg"><i class="ti-layout-grid2"></i> Đọc thêm</a>
            
                </div>
				<div class="col-md-5 d-flex flex-column align-items-start">
					<img src="/assets/img/trainer-idol/teachers.png" width=500 alt="" />
				</div>
            </div>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Tâm Thư Gửi Đến Phụ Huynh</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div style="font-family: Now; font-size : 25px">
                    <p style="text-indent: 40px;">Các con thân mến!</p><br />

                    <p style="text-indent: 40px;">Thầy cô chào các con, thầy cô viết những dòng này với mong muốn cháy 
                        bỏng có thể cùng các con rèn luyện tiếng Anh và trở thành các doanh nhân quốc tế trong tương lai.</p>
                    <br />
                    <p style="text-indent: 40px;">
                        Từng sống ở nước ngoài và làm việc với bạn bè
                            quốc tế trên khắp thế giới, thầy cô nhận ra vai
                            trò rất lớn của việc thông thạo ngoại ngữ.
                            Chẳng cần tốn nhiều năm, chỉ cần bên thầy cô 2
                            tháng hè, con sẽ có sự bứt phá đa chiều trong
                            tiếng Anh. Đặc biệt, chúng ta sẽ học Tiếng Anh 
                            về kinh doanh & đầu tư tài chính thông qua
                            học trực tuyến cùng Thầy Blair Singer & Robert
                            Kiyosaki. </p>
                    <br />
                    <p style="text-indent: 40px;">Sự thông thạo tiếng Anh sẽ giúp
                            con có được lợi thế khác biệt so với bạn bè
                            cùng trang lứa, là niềm tự hào của cha mẹ và
                            quê hương mình. Tiếng Anh cũng chính là cầu nối 
                            giúp các con trở thành công dân toàn cầu, sánh vai với 
                            bạn bè quốc tế. Cùng thầy cô khai phá tiềm
                            năng tiếng Anh trong con nhé! </p>
                    <br />
                    <p style="text-indent: 40px;">
                        Thay vì mất cả chục năm học ngoại ngữ mà vẫn không thể
                        giao tiếp tiếng Anh lưu loát, thay vì tự đóng cửa, không thể học hỏi từ bạn bè quốc tế  
                        vì chưa thành thạo tiếng Anh, thay vì hạn chế thu nhập và khả năng giàu có của mình 
                        vì thiếu lợi thế ngoại ngữ... Hãy cùng thầy cô tập trung rèn luyện trong năm học này để trở thành 
                        người sử dụng tiếng Anh thông thạo và chuyên nghiệp. 
                    </p>
                    <br/>
                    <p style="text-indent: 40px;">Hoặc là BÂY GIỜ - hoặc là KHÔNG BAO GIỜ để
                            thay đổi chất lượng cuộc sống lên một tầm cao mới!
                    </p>
                    <br/>
                    <p>
                      Thân gửi,<br />
                      Cô Theresa Hương và thầy Joseph Nguyễn
                    </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

            <div class="row d-flex flex-column align-items-center"
            style="padding-bottom : 200px; padding-top:200px;position : relative;">

            <img src="/assets/img/qmt-english/children.png" style = "z-index : 100; "width=600 alt="" />
            <h2 class = "mb-3  " style = "z-index : 10;color :#7f4782;font-size : 60px; font-family: kanit;">
                Trong Một Tháng, Con Sẽ...
            </h2>
            <ul style = " width : 600px; 4">
                <li class = "my-3" style = "font-size : 25px; font-family: Helvetica">
                        Sở hữu <b>3,000 từ vựng</b> về kinh doanh và đầu tư
                        tài chính.
                </li>
                <li class = "my-3" style = "font-size : 25px; font-family: Helvetica">
                        <b>Khả năng thuyết trình tiếng Anh ấn tượng</b> 16 đề tài kinh doanh thông dụng
                </li>
                <li class = "my-3" style = "font-size : 25px; font-family: Helvetica">
                        Sở hữu <b>thư viện video marketing & kênh
                        Youtube của riêng mình</b> để xây dựng hình ảnh thương hiệu
                        tuổi teen xuất chúng.
              </li>
                <li class = "my-3" style = "font-size : 25px; font-family: Helvetica">
                        Cơ hội được <b>kết nối cùng thầy Blair Singer và thầy Robert Kiyosaki.</b>
                </li>
            </ul>

        </div>

        <div class="row d-flex flex-column align-items-center"
        style="padding-bottom : 200px; padding-top:200px;position : relative;background-color : #7f4782">

        <h2 class = "mb-3  " style = "z-index : 10;color :#fdd043;font-size : 60px; font-family: kanit;">
            Phương Pháp Huấn Luyện Độc Quyền
        </h2>
        <div class = "d-flex flex-md-row justify-content-center">
        <ul class="col-lg-5" style="color : white;font-size : 20px; font-family: Now">
                <li class="my-2  " >
                    <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">"A.B.C"</span> <br/>
                    <span class = "wow bounceInDown" data-wow-delay="1s">
                        khai
                        phá và tối ưu hoá chỉ số
                        thông minh về NGOẠI NGỮ
                        của mình.
                    </span>
                </li>
                <li class="my-2 " >
                    <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">“D.E.F”</span> <br/>
                    <span class = "wow bounceInDown" data-wow-delay="1s">
                        có thói quen của người
                        thành công trong việc chinh
                        phục ước mơ nói tiếng Anh
                        lưu loát.
                    </span>
                </li>
                <li class="my-2 " >
                    <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">“T.U.U.V”</span> <br/>
                    <span class = "wow bounceInDown" data-wow-delay="1s">
                        kinh doanh và đầu tư tài chính.
                    </span>
                </li>
            </ul>
            <img src="/assets/img/qmt-english/method.png" style = "z-index : 100; "width=600 alt="" />
        </div>
        </div>
      
        <div class="row d-flex flex-column align-items-center"
        style="padding-bottom : 200px; padding-top:200px;position : relative;background-color : white">

        <h2 class = "mb-3  " style = "z-index : 10;color :#7f4782;font-size : 60px; font-family: kanit;">
            Công Cụ Huấn Luyện Độc Quyền
        </h2>
        <div class = "d-flex flex-md-row align-items-center justify-content-center">
            <video  width = "480" height = "270" autoplay loop muted preload="none">
                    <source src="https://baltimoredesignschool.com/wp-content/uploads/2018/04/baltimore-design-school_home-video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            <p class = "ml-md-5" style = "width : 400px; font-family: Helvetica; font-size :20px; font-weight: bold">
                    SỬ DỤNG CÁC VIDEO TỪ THƯ VIỆN GIÁO ÁN TOÀN CẦU CỦA BLAIR SINGER & ROBERT KIYOSAKI ĐỂ
                    HỌC TRỰC TUYẾN TỪ CÁC THẦY DƯỚI SỰ DẪN DẮT & HUẤN LUYỆN CỦA THERESA HƯƠNG.
            </p>
        </div>
        </div>

        <div class="row d-flex flex-column align-items-center"
        style="position : relative; padding-bottom : 200px;background-color : #2b2b2b">
            <video  autoplay loop muted preload="none"
                style = "width : 100%;">
                <source src="https://baltimoredesignschool.com/wp-content/uploads/2018/04/baltimore-design-school_home-video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <h2 class = "mt-3" style = "z-index : 10;color :#fdd043;font-size : 60px; font-family: kanit;">
                    Top 8 Chủ Đề Trong Kinh Doanh
                </h2>
                <h3 class = "mb-4 "style  = "color :#fdd043; font-size : 30px">
                    từ Vua bán hàng Blair Singer</h3>
            <ul class="d-flex flex-md-row" style="color : white;font-size : 20px; font-family: Now">
                    <div class = "mr-md-5">
                <li class="my-2 " >
                        <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">1</span>
                        <span class = "wow bounceInDown" data-wow-delay="1s">
                            What does learning require?
                        </span>
                    </li>
                    <li class="my-2 " >
                        <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">2</span>
                        <span class = "wow bounceInDown" data-wow-delay="1s">
                                What is Sales? Why Sales is The No.1 Skill
                                to succeed in business and in
                                life?
                        </span>
                    </li>
                    <li class="my-2 " >
                        <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">3</span>
                        <span class = "wow bounceInDown" data-wow-delay="1s">
                            Formula of Success for Start-Ups
                        </span>
                    </li>
                    <li class="my-2 " >
                        <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">4</span>
                        <span class = "wow bounceInDown" data-wow-delay="1s">
                            7 MUST-DO steps to build a champion team
                        </span>
                    </li>
                </div>
                <div class = "ml-md-5">
                        <li class="my-2  " >
                            <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">5</span>
                            <span class = "wow bounceInDown" data-wow-delay="1s">
                                    7 factors to build a successful business
                            </span>
                        </li>
                        <li class="my-2 " >
                            <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">6</span>
                            <span class = "wow bounceInDown" data-wow-delay="1s">
                                Code of Honor and Why It’s a MUST for
                                your success?
                            </span>
                        </li>
                        <li class="my-2 " >
                            <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">7</span>
                            <span class = "wow bounceInDown" data-wow-delay="1s">
                                How to handle objections in life and in
                                business?
                            </span>
                        </li>
                        <li class="my-2 " >
                            <span class = "learn-things-list-items wow bounceInDown" data-wow-delay=".5s">8</span>
                            <span class = "wow bounceInDown" data-wow-delay="1s">
                                Valuable tips for a successful
                                marketing plan?
                            </span>
                        </li>
                    </ul>
                    </div>
                </ul>
                
            </div>
        
            <div class="row d-flex flex-column align-items-center"
            style="position : relative; padding-top : 100px; padding-bottom : 200px;background-color : white ">
            <img src="/assets/img/qmt-english/method.png" width=500 alt="" />

                <h2 class = "mt-3" style = "z-index : 10;color : #7f4782;font-size : 60px; font-family: kanit;">
                        Top 8 Chủ Đề Trong Đầu Tư Tài Chính
                    </h2>
                    <h3 class = "mb-4 "style  = "color : #7f4782; font-size : 30px">
                        từ Cha giàu Robert Kiyosaki </h3>
                <ul class="d-flex flex-md-row" style="color : #2b2b2b;font-size : 20px; font-family: Now">
                        <div class = "mr-md-5">
                    <li class="my-2 " >
                            <span class = "learn-things-list-items__purple  wow bounceInDown" data-wow-delay=".5s">1</span>
                            <span class = "wow bounceInDown" data-wow-delay="1s">
                                Cashflow Quadrant
                            </span>
                        </li>
                        <li class="my-2 " >
                            <span class = "learn-things-list-items__purple  wow bounceInDown" data-wow-delay=".5s">2</span>
                            <span class = "wow bounceInDown" data-wow-delay="1s">
                                    What is money? Why rich people don’t work for money?
                            </span>
                        </li>
                        <li class="my-2 " >
                            <span class = "learn-things-list-items__purple  wow bounceInDown" data-wow-delay=".5s">3</span>
                            <span class = "wow bounceInDown" data-wow-delay="1s">
                                    6 Crucial Factors to help you get a
                                    solid background for Wealth
                            </span>
                        </li>
                        <li class="my-2 " >
                            <span class = "learn-things-list-items__purple  wow bounceInDown" data-wow-delay=".5s">4</span>
                            <span class = "wow bounceInDown" data-wow-delay="1s">
                                    School don’t teach what you need to
                                    be rich and wealthy
                            </span>
                        </li>
                    </div>

                    <div class = "ml-md-5">
                            <li class="my-2  " >
                                <span class = "learn-things-list-items__purple  wow bounceInDown" data-wow-delay=".5s">5</span>
                                <span class = "wow bounceInDown" data-wow-delay="1s">
                                        Why Cashflow is very important to
                                        secure your being rich? <br/>Why the rich are
                                        getting RICHER?
                                </span>
                            </li>
                            <li class="my-2 " >
                                <span class = "learn-things-list-items__purple  wow bounceInDown" data-wow-delay=".5s">6</span>
                                <span class = "wow bounceInDown" data-wow-delay="1s">
                                        How debt can generate INCOME?
                                </span>
                            </li>
                            <li class="my-2 " >
                                <span class = "learn-things-list-items__purple  wow bounceInDown" data-wow-delay=".5s">7</span>
                                <span class = "wow bounceInDown" data-wow-delay="1s">
                                        How to convert a liability into an
                                        ASSET
                                </span>
                            </li>
                            <li class="my-2 " >
                                <span class = "learn-things-list-items__purple  wow bounceInDown" data-wow-delay=".5s">8</span>
                                <span class = "wow bounceInDown" data-wow-delay="1s">
                                        What is The biggest mistake young
                                        people make?
                                </span>
                            </li>
                        </ul>
                        </div>
                    </ul>
                    
                </div>
		</div>
		</div>
	</section>
    <%- include('../components/teachers_course'); %>
  <!--========================================================
                          FOOTER
  =========================================================-->
  <%- include('../components/footer'); %>
  <!--========================================================
                        Loader and toTop
  =========================================================-->
  <div id="preloader">
    <div class="preloader">
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="toTop">
    <i class="ti-arrow-up"></i>
  </div>

  <!-- js -->
  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js  "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>
</html>