<footer class="pt80">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="footer-subscribe bxw2 wow fadeInUp" data-wow-delay=".2s">
                <div class="row">
                  <div class="col-md-5">
                    <div class="input-group bxw2">
                      <input type="text" class="form-control" placeholder="Subscribe to our newsletter">
                      <div class="input-group-append">
                        <button class="input-group-text">Register</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="footer-subscribe-content">
                      <p><a href="#" class="link">Insights is Picwik</a> University's thought leadership publication for
                        sharing knowledge on management, technology and innovation.</p>
                      <a href="#" class="link2">Take me there <i class="ti-angle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt80 mb60">
            <div class="col-md-3" >
              <a href="/"><img src="/assets/img/logo_BSRK.png" style = "width : 150px"class="mb30 wow fadeInDown" style = "width : 30vw; min-width : 200px" data-wow-delay=".2s"
                  alt=""></a>
              <ul>
                <li class="wow fadeInDown" data-wow-delay=".3s"><i class="fas fa-map-marker-alt"></i> 17 Nguyễn Ngọc Nhựt, P. Tân Quý, Q. Tân Phú, Hồ Chí Minh</li>
                <li class="wow fadeInDown" data-wow-delay=".4s"><i class="fas fa-phone-square-alt"></i> (028) 6265.9295 – 093.9306.838
                </li>
                <li class="wow fadeInDown" data-wow-delay=".5s"><i class="fas fa-envelope"></i>info@bsta.com.vn</li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="wow fadeInDown" data-wow-delay=".2s">Support Us</h3>
              <ul>
                <li class="wow fadeInDown" data-wow-delay=".3s"><a href="#"><i class="ti-angle-right"></i> Register
                    Activation Key</a></li>
                <li class="wow fadeInDown" data-wow-delay=".4s"><a href="#"><i class="ti-angle-right"></i> Student Financial
                    Support</a></li>
                <li class="wow fadeInDown" data-wow-delay=".5s"><a href="#"><i class="ti-angle-right"></i> Student
                    Support</a></li>
                <li class="wow fadeInDown" data-wow-delay=".6s"><a href="#"><i class="ti-angle-right"></i> Students’
                    Union</a></li>
                <li class="wow fadeInDown" data-wow-delay=".7s"><a href="#"><i class="ti-angle-right"></i> Postgraduate
                    Association</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="wow fadeInDown" data-wow-delay=".2s">Explore</h3>
              <ul>
                <li class="wow fadeInDown" data-wow-delay=".3s"><a href="#"><i class="ti-angle-right"></i> Accommodation</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay=".4s"><a href="#"><i class="ti-angle-right"></i> Arts
                    Academics</a></li>
                <li class="wow fadeInDown" data-wow-delay=".5s"><a href="#"><i class="ti-angle-right"></i> Central
                    Services</a></li>
                <li class="wow fadeInDown" data-wow-delay=".6s"><a href="#"><i class="ti-angle-right"></i> Conferences and
                    Events</a></li>
                <li class="wow fadeInDown" data-wow-delay=".7s"><a href="#"><i class="ti-angle-right"></i> Food and
                    Drink</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="wow fadeInDown" data-wow-delay=".2s">Visit</h3>
              <ul>
                <li class="wow fadeInDown" data-wow-delay=".3s"><a href="#"><i class="ti-angle-right"></i> Admission</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay=".4s"><a href="#"><i class="ti-angle-right"></i> Contact Us</a>
                </li>
                <li class="wow fadeInDown" data-wow-delay=".5s"><a href="#"><i class="ti-angle-right"></i> FAQs</a></li>
                <li class="wow fadeInDown" data-wow-delay=".6s"><a href="#"><i class="ti-angle-right"></i> Request
                    Information</a></li>
                <li class="wow fadeInDown" data-wow-delay=".7s"><a href="#"><i class="ti-angle-right"></i> Privacy
                    Notice</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bar">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <p>© Copyright 2019 <a href="#" class="link2">Học Viện Blair Singer Việt Nam</a>. All Rights Reserved.</p>
              </div>
              <div class="col-md-7">
                <ul>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Cookie Policy</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>