<style>
  .menu-items{
    font-weight: 600;
    font-size : 16px;

  }
  .nav-bar--hidden {
    background : rgba(42,42,42,0.9);
  }

  .sub-nav--title{
    font-size : 16px;
    color : white;
  }
</style>
<header style = "background-color : rgba(42,42,42,0.9); position :fixed">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-2">
          <div class="logo">
            <a href="/">
              <img src="/assets/img/logo_BSRK.png" style = "width : 100px;"alt="" >
            </a>
          </div>
        </div>
        <div class="col-md-4 col-lg-8">
          <nav>
            <ul style = "font-size : 7px; font-weight: 200; font-family: now">
            <% if(name === "/"){ %>
                 <li><a  class="active menu-items" href="/">Trang Chủ</a></li> 
            <% } else {%>
                <li><a class = "menu-items" style = "color : white!important" href="/">Trang Chủ</a></li>
            <%} %>

              <li class = "menu-items"><a style = "font-size : 16px;color : white!important" href = "#" >Giới Thiệu</a>
                <ul class = "nav-bar--hidden">
                  <li class = "menu-items">
                    <a style = "color : white!important" class="menu-items" href="/our-team">Đội Ngũ</a>
                  </li>

                  <li class = "menu-items">
                      <a style = "color : white!important" class="menu-items" href="/history">Lịch Sử</a>
                  </li>

                  <li class = "menu-items">
                    <a style = "color : white!important" class="menu-items" href="/contact">Liên Hệ</a>
                  </li>
                </ul>
              </li> 
              <li><a class="sub-nav--title" href="#">Khoá Học</a>
                <ul class = "nav-bar--hidden">
                    <li class = "menu-items">
                      <a style = "color : white!important" class="menu-items" href="/children-courses">Thiếu Niên</a>
                    </li>
  
                    <li class = "menu-items">
                      <a style = "color : white!important" class="menu-items" href="/adult-courses">Người Lớn</a>
                    </li>
                  </ul>
              </li>

            <li><a class = "sub-nav--title" href="/parent">Cha Mẹ</a>
            </li>              
            

            <li><a class = "sub-nav--title" href="#">Học Viên</a>
              <ul class = "nav-bar--hidden">
                  <li class = "menu-items">
                    <a style = "color : white!important" class="menu-items" href="/student-story">Câu Chuyện</a>
                  </li>
                  <li class = "menu-items">
                    <a style = "color : white!important" class="menu-items" href="/dorm">Ký Túc Xá</a>
                  </li>
                  <li class = "menu-items">
                      <a style = "color : white!important" class="menu-items" href="/clubs">Câu Lạc Bộ</a>
                    </li>
                </ul>
            </li>
                  
            <% if(name === "news"){ %>
                <li><a class = "active menu-items" href="/news">Tin Tức</a>
            <% } else { %>
                <li><a class = "menu-items" style = "color : white!important" href="/news">Tin Tức</a>
            <% } %> 

            </ul>
          </nav>
          <div class="mobile-menu">
            <i class="ti-menu"></i>
            <i class="ti-close"></i>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <div class="social-icon">
            <ul>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-google"></i></a></li>
              <!-- <li class="search-icon"><a href="#"><i class="ti-search"></i></a></li> -->
            </ul>
          </div>
          <div class="search">
            <input type="search" placeholder="Search...">
            <i class="ti-close"></i>
          </div>
        </div>
      </div>
    </div>
  </header>