<section class="news mtb80">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="news-item bxw">
                <div class="news-item-img">
                  <img src="/assets/img/news1.jpg" alt="">
                  <i data-src="https://www.youtube.com/watch?v=9xwazD5SyVg" data-fancybox class="fas fa-play"></i>
                </div>
                <div class="news-item-content">
                  <span>April 28, 2019</span>
                  <a href="news/1">
                    <h3>Peer pressure changes how
                      teens tackle inequality</h3>
                  </a>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the print ing and typesetting in dustry. Lorem Ipsum has been the
                    industry's standard text.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="news-item bxw">
                <div class="news-item-img">
                  <img src="/assets/img/news2.jpg" alt="">
                </div>
                <div class="news-item-content">
                  <span>April 28, 2019</span>
                  <a href="news/1">
                    <h3>New project digs deep into
                      publishing diversity</h3>
                  </a>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the print ing and typesetting in dustry. Lorem Ipsum has been the
                    industry's standard text.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="news-item bxw">
                <div class="news-item-img">
                  <img src="/assets/img/news3.jpg" alt="">
                </div>
                <div class="news-item-content">
                  <span>April 28, 2019</span>
                  <a href="news/1">
                    <h3>New project digs deep into
                      publishing diversity</h3>
                  </a>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the print ing and typesetting in dustry. Lorem Ipsum has been the
                    industry's standard text.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="news-item bxw">
                <div class="news-item-img">
                  <img src="/assets/img/news4.jpg" alt="">
                </div>
                <div class="news-item-content">
                  <span>April 28, 2019</span>
                  <a href="news/1">
                    <h3>New project digs deep into
                      publishing diversity</h3>
                  </a>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the print ing and typesetting in dustry. Lorem Ipsum has been the
                    industry's standard text.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="news-item bxw">
                <div class="news-item-img">
                  <img src="/assets/img/news5.jpg" alt="">
                  <i data-src="https://www.youtube.com/watch?v=9xwazD5SyVg" data-fancybox class="fas fa-play"></i>
                </div>
                <div class="news-item-content">
                  <span>April 28, 2019</span>
                  <a href="news/1">
                    <h3>New project digs deep into
                      publishing diversity</h3>
                  </a>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the print ing and typesetting in dustry. Lorem Ipsum has been the
                    industry's standard text.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="news-item bxw">
                <div class="news-item-img">
                  <img src="/assets/img/news6.jpg" alt="">
                </div>
                <div class="news-item-content">
                  <span>April 28, 2019</span>
                  <a href="news/1">
                    <h3>New project digs deep into
                      publishing diversity</h3>
                  </a>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the print ing and typesetting in dustry. Lorem Ipsum has been the
                    industry's standard text.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="news-item bxw">
                <div class="news-item-img">
                  <img src="/assets/img/news7.jpg" alt="">
                </div>
                <div class="news-item-content">
                  <span>April 28, 2019</span>
                  <a href="news/1">
                    <h3>New project digs deep into
                      publishing diversity</h3>
                  </a>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the print ing and typesetting in dustry. Lorem Ipsum has been the
                    industry's standard text.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="news-item bxw">
                <div class="news-item-img">
                  <img src="/assets/img/news8.jpg" alt="">
                </div>
                <div class="news-item-content">
                  <span>April 28, 2019</span>
                  <a href="news/1">
                    <h3>New project digs deep into
                      publishing diversity</h3>
                  </a>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the print ing and typesetting in dustry. Lorem Ipsum has been the
                    industry's standard text.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="news-item bxw">
                <div class="news-item-img">
                  <img src="/assets/img/news9.jpg" alt="">
                </div>
                <div class="news-item-content">
                  <span>April 28, 2019</span>
                  <a href="news/1">
                    <h3>New project digs deep into
                      publishing diversity</h3>
                  </a>
                  <hr>
                  <p>Lorem Ipsum is simply dummy text of the print ing and typesetting in dustry. Lorem Ipsum has been the
                    industry's standard text.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-center mt20">
              <a href="#" class="load-more"><i class="ti-layout-grid2"></i> Explore All</a>
            </div>
          </div>
        </div>
      </section>