



<div class="row d-flex flex-column align-items-center justify-content-center" style="padding-top : 50px; padding-bottom : 50px">
        <h1 class="text-center mt-5 mb-5" style="color :  #7f4782;font-size : 60px; font-family: kanit;">Các Nhà Huấn Luyện</h1>
        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class=" d-flex flex-column">
            <img src="/assets/img/brdrhr/avatar_theresa.jpg" alt="" width=250 height=250>
            <strong style="font-size : 25px ">Theresa Huong</strong>
            <p style="font-weight : 300">Principal</p>
          </div>
          <div class=" d-flex flex-column">
            <img src="/assets/img/brdrhr/avatar_theresa.jpg" alt="" width=250 height=250>
            <strong style="font-size : 25px ">Theresa Huong</strong>
            <p style="font-weight : 300">Principal</p>
          </div>
          <div class=" d-flex flex-column">
            <img src="/assets/img/brdrhr/avatar_theresa.jpg" alt="" width=250 height=250>
            <strong style="font-size : 25px ">Theresa Huong</strong>
            <p style="font-weight : 300">Principal</p>
          </div>
          <div class=" d-flex flex-column">
            <img src="/assets/img/brdrhr/avatar_theresa.jpg" alt="" width=250 height=250>
            <strong style="font-size : 25px ">Theresa Huong</strong>
            <p style="font-weight : 300">Principal</p>
          </div>
          <div class=" d-flex flex-column">
            <img src="/assets/img/brdrhr/avatar_theresa.jpg" alt="" width=250 height=250>
            <strong style="font-size : 25px ">Theresa Huong</strong>
            <p style="font-weight : 300">Principal</p>
          </div>
        </div>
        <a href="/our-team" class="load-more my-4"><i class="ti-layout-grid2"></i>Xem Thêm Tại</a>

      </div>

      <div class="row" style = "padding-bottom: 200px">
        <div class="col-md-12 mt30 d-flex flex-column align-items-center">
            <h3>Nhà Huấn Luyện Chính </h3>
          <h1 class="text-center mt-2 mb-5" style="color :  #7f4782;font-size : 60px; font-family: kanit;"> 
            Theresa Hương</h1>
            
          <div class="d-lg-flex flex-row align-items-center">
            <img width = 300 src="/assets/img/mctlmtt/Theresa-Hoai-Huong.png" />
            <ul style=" width : 500px;font-size : 25px ;font-family: Helvetica">
              <li class="my-3"><img src="/assets/img/icon/fire.svg" class="mr-2" width=40 height=40 /><b>20 năm kinh nghiệm</b>
                trong các vị trí quản lý cấp
                cao về Marketing & Sales cho: PepsiCo, AVON Cosmetic,
                Best World Lifestyle & Sunrider...</li>
              <li class="my-3"><img src="/assets/img/icon/fire.svg" class="mr-2" width=40 height=40 />Là <b>Trainer Quốc Tế</b>
                - <b>Nhà Điều Phối</b> được đào tạo trực tiếp từ các người thầy vĩ đại và
                là <b>Đại diện chính thức đầu tiên</b> của Vua Bán Hàng – Blair Singer tại Việt Nam.</li>
            </ul>
          </div>
        </div>
      </div>

      <%- include('./video'); %>

      <div class="row d-flex flex-column align-items-center" >
        <div class=" mt30 d-flex flex-column align-items-center" style = "background-color : white; padding-top: 100px; padding-bottom : 100px">
            <div class = "d-flex flex-column align-items-center justify-content-center" style = "width : 90%;padding: 30px;border-width : 1px; border-style : solid; border-color: #aa5c9f">
              <p style = "  font-size : 40px;color : #7f4782; text-align: center;">Hơn 95% người khao khát chính mình/con thành công nhưng không biết 
              làm thế nào? Bắt đầu từ đâu?</p>
              <b style = "font-size : 30px; color : #2b2b2b" class = "my-2">Hãy để chúng tôi giúp bạn</b>
              <p style = "font-family: Helvetica; font-size : 20px">Thông qua chương trình huấn luyện ĐA KỸ NĂNG, học viên sẽ nhận ra được mình là ai, đam mê và mục đích sống của mình. Đặc biệt
                sẽ có những trải nghiệm WOW ngay trong chính lớp học từ những điều tưởng chừng như không thể. <b>Cùng chúng 
                tôi biến ước mơ của bạn thành sự thật!</b>
              </p>
              <a href="#" class="load-more my-4" style="color : #aa5c9f" data-toggle="modal"
                data-target=".register-form"><i class="ti-layout-grid2"></i> Đăng Ký Ngay</a>
            </div>
        </div>
      </div>


      <div class="modal fade register-form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Đăng Ký Tại Đây</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form action="/action_page.php" class = "">
                <div class="form-group">
                  <label for="fullname">Họ và Tên:</label>
                  <input type="text" class="form-control" id="fullname" required>
                </div>
                <div class="form-group">
                  <label for="tel">Số điện Thoại:</label>
                  <input type="tel" class="form-control" id="tel" required>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                <label for="inputState">Khoá Học</label>
                  <select id="inputState" class="form-control">
                    <option selected>Mỗi Con Trẻ Là Một Thiên Tài</option>
                    <option>Be Real, Do Real, Have Real</option>
                    <option>QMT English</option>
                    <option>Trainer Idol</option>
                    <option>Đánh Thức Thiên Tài Tài Chính</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="pwd">Đăng ký cho:</label>
                  <input type="tel" class="form-control" id="pwd">
                </div>

                <button type="submit" class="btn btn-primary" style = "margin : auto">Đăng Ký</button>
              </form>
          </div>
        </div>
      </div>
    </div>