
          <div class="row" style = "background-color : #2b2b2b; padding-bottom: 300px; padding-top:150px; padding-left : 100px; padding-right: 100px">
            <div class="col d-flex flex-row" >
              <div class="video-base " >
                <img src="/assets/img/video-bg.jpg" alt="" />
              </div>
              <div class="video-content bxw wow fadeInRight" data-wow-delay=".3s">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2633467679743!2d106.62305661479364!3d10.79113109231155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c00e54678d7%3A0xabe9e1950309677!2zNTUgTmd1eeG7hW4gTmfhu41jIE5o4buxdCwgVMOibiBRdcO9LCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1566825097984!5m2!1svi!2s"  height="300" frameborder="0" style="border:0;width : 100%; margin-top :50px" allowfullscreen=""></iframe>
                <ul>
                  <li>
                    <img src="/assets/img/v-icon1.png" alt="">
                    <div class="video-content-text">
                      <h3>55 Lê Thúc Hoạch, phường Phú Thọ Hoà, quận Tân Phú, thành phố Hồ Chí Minh</h3>
                      <a href="https://goo.gl/maps/KbpR4Vh8JYLsbQT99" class="link2">Xem Thêm <i class="ti-angle-right"></i></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>