
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="video-base">
                <img src="/assets/img/video-bg.jpg" alt="" />
                <a href="https://www.youtube.com/watch?v=9xwazD5SyVg" class="bxw wow fadeInLeft" data-wow-delay=".3s"
                  data-fancybox>
                  <svg x="0px" y="0px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
                    xml:space="preserve">
                    <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"></circle>
                    <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1"></polygon>
                  </svg>
                </a>
              </div>
              <div class="video-content bxw wow fadeInRight" data-wow-delay=".3s">
                <span>Hãy ghé thăm tại đây</span>
                <ul>
                  <li>
                    <img src="/assets/img/v-icon1.png" alt="">
                    <div class="video-content-text">
                      <h3>Princeton offers admission information sessions and student-led tours to campus visitors</h3>
                      <a href="#" class="link2">Learn more <i class="ti-angle-right"></i></a>
                    </div>
                  </li>
                  <li>
                    <img src="/assets/img/v-icon2.png" alt="">
                    <div class="video-content-text">
                      <h3>Princeton on the Road</h3>
                      <a href="#" class="link2">Learn more <i class="ti-angle-right"></i></a>
                    </div>
                  </li>
                </ul>
                <div class="video-map">
                  <a href="javascript:;"
                    data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5924.359978972289!2d106.62112952724745!3d10.790559059809173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c011addbbff%3A0xab6c96eb56ec3d32!2zMTcgTmd1eeG7hW4gTmfhu41jIE5o4buxdCwgVMOibiBRdcO9LCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1564650022433!5m2!1svi!2s"
                    data-fancybox data-type="iframe" class="link2"><i class="ti-map fs16"></i> View Our Campus Map <i
                      class="ti-angle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>