<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
	<!-- Meta tag -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/assets/img/logo_BSRK.ico" type="image/x-icon">
	<!-- Title tag -->
	<title>Học viện BSRK</title>
	<!-- css -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="/assets/css/animate.css">
	<link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
	<!--========================================================
                          HEADER
  =========================================================-->
	<%- include('./components/header', {name : name}); %>
	<!--========================================================
                          BREADCRUMB
  =========================================================-->
	<section 
		style=" background-image : url(/assets/img/children-courses/bank.jpg); background-size : cover; background-position: center">
		<div class="d-flex flex-column justify-content-center"
			style="width : 100%;padding-top : 300px; padding-bottom : 300px;background-color : rgba(34,34,34,0.6) ">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<h1 style="color : white; font-size : 60px">Giáo Dục Tài Chính Vì Sao Cần Thiết?</h1>
						<h2 class="align-text-center mb-4" style="color :  #ffcc00">WHY IS FINANCIAL EDUCATION NECESSARY?</h2>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--========================================================
                        NEWS
  =========================================================-->
	<section class="news-single  d-flex flex-column align-items-center">
		<div class="container-fluid pt-5"
			style="margin-top : -20px;background-image : url(/assets/img/children-courses/youngster.jpg); background-color : #7f4782;background-size:contain; background-repeat: no-repeat">
      <div class="row d-flex flex-column align-items-center"
				style=" padding-top : 200px; padding-bottom : 200px">
        <img src="/assets/img/children-courses/children.jpg" width=500 alt="" />
        <div  style="color : #2b2b2b; font-size : 25px; ;font-family: Helvetica; width : 600px; text-align: justify">
			<h2 class=" "
				style="text-align : left ; color : #fdd043; font-weight: 1000; font-size : 60px; font-family: Kanit">Chúng Ta Cần Tiền?</h2>
              <p class = "my-4" style = "text-indent:50px; color : white">
                Dù thích hay không, chúng ta đều không thể phủ nhận vai trò của tiền trong cuộc sống.
                Chúng ta đều cần có tiền - hay rất nhiều tiền để có thể thoả mãn cho nhu cầu cấp thiết,
                đặc biệt là đam mê & mong muốn.
              </p>
              <p style = "text-indent:50px; color : white">
                Hơn cả, để tồn tại & phát triển trong thế giới hôm nay - thế giới luôn thay đổi với nền kinh tế
                biến động liên tục thì chúng ta cần có Giáo Dục Tài Chính (bên cạnh giáo dục phổ thông tại trường học & 
                giáo dục chuyên ngành tại đại học).
              </p>
				</div>
			</div>

			<div class="row  d-flex flex-column align-items-center" style="padding-top :150px; padding-bottom : 150px  ;background-color : white;">
				<h2 class=" mb-5" style="color : #7f4782 ;font-weight: 1000; font-size : 60px; font-family: Kanit">Các Khoá Học</h2>

				<div class=" d-flex flex-md-column flex-lg-row align-items-center mb-5">
					<img src="/assets/img/children-courses/brdrhr.jpg" width=500 alt="" />
					<DIV class = "ml-md-5" style = "font-size: 25px; font-family: Helvetica; text-align: center">
						<h3 style = "font-size : 30px;font-weight: bold; color : #7f4782">COMBO 4 - Be Real - Get Real - Have Real<br/><span style = "color : #fdd043">BỨT PHÁ THIÊN TÀI TÀI CHÍNH TRONG CON</span></h3>
						<p>Bao gồm 4 khoá học trải dài trong năm</p>
						<b>Cùng con tạo dòng Cashflow với mức giá cực kỳ ưu đãi!</b>
						<div class = "mt-5"><a href="/courses/bereal-doreal-havereal" class="load-more my-4"><i class="ti-layout-grid2"></i>Xem Thêm</a></div>

					</div>
					
				</div>
				<div class=" d-flex flex-md-column flex-lg-row align-items-start" style = "margin-top : 70px">
					<div class = "mx-3 d-flex flex-column" style = "width : 250px;text-align: center; font-family: Helvetica; font-size : 20px">
						<img style = "border-radius : 50%" src="/assets/img/children-courses/eciag.jpg" width=250 alt="" />
						<h4 style = " font-size : 30px; height : 100px">Mỗi Con Trẻ<br/>Là Một Thiên Tài</h4>
						<p style = "width : auto; height : 130px">Khai phá khả năng tiềm ẩn trong con</p>
						<a href="/courses/mctlmtt" class="load-more my-4"><i class="ti-layout-grid2"></i>Xem Thêm</a>

					</div>
					<div class = "mx-3 d-flex flex-column" style = "width : 250px;text-align: center; font-family: Helvetica; font-size : 20px">
						<img style = "border-radius : 50%" src="/assets/img/children-courses/ti.jpg" width=300 alt="" />
						<h4 style = " font-size : 30px; height : 100px">Trainer Idol</h4>
						<p style = "width : auto; height : 130px">Khơi dậy nhà Lãnh Đạo & Huấn Luyện trong con</p>
						<a href="/courses/trainer-idol" class="load-more my-4"><i class="ti-layout-grid2"></i>Xem Thêm</a>

					</div >
					<div class = "mx-3 d-flex flex-column" style = "width : 250px;text-align: center; font-family: Helvetica; font-size : 20px">
						<img style = "border-radius : 50%" src="/assets/img/children-courses/awyfg.jpg" width=300 alt="" />
						<h4 style = " font-size : 30px; height : 100px">Đánh Thức Thiên Tài Tài Chính</h4>
						<p style = "width : auto; height : 130px">Bứt phá thiên tài tài chính, dạy con làm giàu cùng cha giàu Robert Kiyosaki & Blair Singer</p>
						<a href="/courses/danh-thuc-thien-tai-tai-chinh" class="load-more my-4"><i class="ti-layout-grid2"></i>Xem Thêm</a>

					</div>
					<div class = "mx-3 d-flex flex-column" style = "width : 250px;text-align: center; font-family: Helvetica; font-size : 20px">
						<img style = "border-radius : 50%" src="/assets/img/children-courses/eifm.jpg" width=300 alt="" />
						<h4 style = " font-size : 30px; height : 100px">QMT English</h4>
						<p style = "width : auto; height : 130px">Bứt phá khả năng Tiếng Anh, phát triển Tiếng Anh trong lãnh vực tài chính </p>
						<a href="/courses/qmt-english" class="load-more my-4"><i class="ti-layout-grid2"></i>Xem Thêm</a>

					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!--========================================================
                          GALLERY
  =========================================================-->
	<section class="gallery mt-5" style = "background-color : #2b2b2b; padding-top : 150px; color : white">
		<div class="container mb80">
			<div class="row">
				<div class="col">
					<div class="section-title">
						<h2 class="wow fadeInUp" style = "color : #fdd043; font-size : 60px"data-wow-delay=".2s">Sự Bứt Phá Đa Chiều</h2>
						<h3 class="wow fadeInUp" style = "color : white"data-wow-delay=".3s">Academics champions innovation and personal development.
							That's
							Lần đầu tiên một chương trình huấn luyện quốc tế được tổ chức tại Việt Nam dành cho trẻ từ 9 đến 15 tuổi.
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="gallery-carousel owl-carousel owl-theme wow fadeInUp" data-wow-delay=".4s">
			<div class="item">
				<img src="/assets/img/mctlmtt/galary-1.jpg" alt="">
				<div class="gallery-carousel-content">
					<a href="/assets/img/mctlmtt/galary-1.jpg" data-fancybox><i class="ti-image"></i></a>
					<h3>Sự Bức Phá ( Hình Ảnh HD )</h3>
				</div>
			</div>

			<div class="item">
				<img src="/assets/img/mctlmtt/galary-2.jpg" alt="">
				<div class="gallery-carousel-content">
					<a href="/assets/img/mctlmtt/galary-2.jpg" data-fancybox><i class="ti-image"></i></a>
					<h3>Sự Bức Phá ( Hình Ảnh HD )</h3>
				</div>
			</div>

			<div class="item">
				<img src="/assets/img/mctlmtt/galary-3.jpg" alt="">
				<div class="gallery-carousel-content">
					<a href="/assets/img/mctlmtt/galary-3.jpg" data-fancybox><i class="ti-image"></i></a>
					<h3>Sự Bức Phá ( Hình Ảnh HD )</h3>
				</div>
			</div>

			<div class="item">
				<img src="/assets/img/mctlmtt/galary-4.jpg" alt="">
				<div class="gallery-carousel-content">
					<a href="/assets/img/mctlmtt/galary-4.jpg" data-fancybox><i class="ti-image"></i></a>
					<h3>Sự Bức Phá ( Hình Ảnh HD )</h3>
				</div>
			</div>

			<div class="item">
				<img src="/assets/img/mctlmtt/galary-5.jpg" alt="">
				<div class="gallery-carousel-content">
					<a href="/assets/img/mctlmtt/galary-5.jpg" data-fancybox><i class="ti-image"></i></a>
					<h3>Sự Bức Phá ( Hình Ảnh HD )</h3>
				</div>
			</div>

			<div class="item">
				<img src="/assets/img/mctlmtt/galary-6.jpg" alt="">
				<div class="gallery-carousel-content">
					<a href="/assets/img/mctlmtt/galary-6.jpg" data-fancybox><i class="ti-image"></i></a>
					<h3>Sự Bức Phá ( Hình Ảnh HD )</h3>
				</div>
			</div>

			<div class="item">
				<img src="/assets/img/mctlmtt/galary-7.jpg" alt="">
				<div class="gallery-carousel-content">
					<a href="/assets/img/mctlmtt/galary-7.jpg" data-fancybox><i class="ti-image"></i></a>
					<h3>Sự Bức Phá ( Hình Ảnh HD )</h3>
				</div>
			</div>
		</div>
	</section>



	<!--========================================================
                          FOOTER
  =========================================================-->
	<%- include('./components/footer'); %>
	<!--========================================================
                        Loader and toTop
  =========================================================-->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
		</div>
	</div>

	<div id="toTop">
		<i class="ti-arrow-up"></i>
	</div>

	<!-- js -->
	<!-- js -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js  "></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<script src="/assets/js/custom.js"></script>
</body>
</html>