<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
  <!-- Meta tag -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/img/logo_BSRK.ico" type="image/x-icon">
  <!-- Title tag -->
  <title>Học viện BSRK</title>
  <!-- css -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
  <!--========================================================
                          HEADER
  =========================================================-->
  <%- include('./components/header', {name : name}); %>
  <!--========================================================
                          BREADCRUMB
  =========================================================-->
  <section class="breadcrumb"
    style="height :700px; margin-bottom : 0px!important;background-image : url(/assets/img/brdrhr/background_1.jpg); background-size : cover; background-position: center">
    <div class="d-flex flex-column justify-content-center"
      style="height : 720px; margin-top : -200px;width : 100vw;background-color : rgba(34,34,34,0.4) ">
      <div class="container-fluid">
        <div class="row">
          <div class="col ml-md-5">
            <h1 style="color : white; font-size : 70px">Vì Sao Học Viện BS-RK Được Thành Lập?</h1>
            <h2 class="align-text-center mb-4" style="color :  #ffcc00">OUR FOUNDING STORY</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--========================================================
                        NEWS
  =========================================================-->
  <section class="news-single">
    <div class="container-fluid px-0">
        <div class="row "
            style="padding-top : 200px; padding-bottom : 200px ;position : relative; 
            background-image: url(/assets/img/history/background.png); background-size:contain; 
            background-repeat: no-repeat; background-position: center; background-color : white; margin : auto">
            <div class = "col-md-3"></div>
            <div class = "col-md-6 d-flex flex-column align-items-center justify-content-center">
            
                <img src="/assets/img/history/children.png" width=500 alt="" />
                <div class="" style="color : #2b2b2b; font-size : 25px; ;font-family: Now; font-weight: bold">
                <h2 class="mb30 mt-2 mb-4 text-center"
                    style="color : #7f4782; font-weight: 1000; font-size : 3em; font-family: Kanit">Sứ Mệnh</h2>
                <p style = "font-family:  Helvetica; font-weight: 300;">
                    Học viện BS-RK mong muốn có thể <b style = "font-weight: 900">chuyển hoá thế hệ trẻ VN trở thành những Nhà Lãnh Đạo &
                    Huấn Luyện</b> vừa có tâm, vừa có tầm. Thông qua đào tạo & rèn luyện các kỹ năng mềm thực tế
                    kết hợp với giáo dục tài chính. Cùng thế hệ trẻ chạm đến <b style = "font-weight: 900">"Tự do tài chính", sở hữu dòng tiền & bất động sản</b>
                </p>
                </div>
            </div>  
        </div>
      <div class="d-flex flex-row align-items-center"
        style="padding-top : 250px; padding-bottom : 250px;position : relative;background-color : #7f4782">
        <div class="col-md-7 d-flex flex-column align-items-end ">
          <div class="col-md-8" style="color : #2b2b2b; font-size : 25px; ;font-family: Now; font-weight: bold">
            <h2 class="mb30 mt-2 mb-4 "
              style="color : #ffcc00; font-weight: 1000; font-size : 60px; font-family: Kanit">Lý Do Thành Lập</h2>
            <q style="font-weight: 300; font-family:  Helvetica; color : white "><b style = "font-weight: 900">Học viện BSRK-Học viện của Blair Singer & Robert Kiyosaki (Business School for Rich Kids)</b>, được thành lập 
            mục đích trao dồi kiến thức tài chính cho thế hệ trẻ tại Việt Nam (10-15 tuổi; trên 17 tuổi).
            Đồng thời học viện cũng phát triển sứ mệnh:<b style = "font-weight: 900">"Nâng Tầm Sự Thịnh Vượng Tài Chính Của Nhân Loại"</b> - Từ công ty Rich Dad 
            của thầy Robert Kiyosaki và sứ mệnh: Đào Tạo Những Nhà Lãnh Đạo và Nhà Huấn Luyện - Từ Vua Bán Hàng thế giới Blair Singer
            </q>

          </div>
        </div>
        <div class="col-md-5 d-flex flex-column align-items-start">
          <img src="/assets/img/history/campus.png" width=450 alt="" />
        </div>

      </div>


      <div class="row d-flex flex-lg-row flex-sm-column justify-content-center align-items-center"
        style="padding-top : 150px; padding-bottom : 150px ;background-color : white">
        <div class = "mr-md-5"> 
          <img src="/assets/img/history/history_stage.png" width=500 alt="" />
        </div>
        <div class = "text-left ml-md-5">
          <h2 style="color : #fdd043 ;font-weight: 1000; font-size : 60px; font-family: Kanit">Lịch Sử</h2>
          <ol style = "width : 450px; font-family: Helvetica; font-size : 25px; text-align : justify">
            <li class = "my-3" value = "2013">
              Chúng tôi lần đầu tiếp cận với sứ mệnh từ người thầy kính yêu - Blair Singer về nâng 
              cao nhận thức giáo dục cho con người Việt Nam <b>vì thế giới rất cần những nhà Lãnh Đạo và Huấn Luyện Giỏi</b>.
            </li>
            <li class = "my-3">
              <b>BSTA - Blair Singer Training Academy</b>, lần đầu đặt chân đến Việt 
              Nam (Quốc Gia Thứ 3) để đồng hành, tiếp cận và bản xứ hoá các 
              kiến thức quốc tế cho con người Việt.
            </li>
            <li class = "my-3">
              Chúng tôi bắt đầu nhận thấy việc <b>đào tạo con trẻ</b> là một trong những cách hoàn thiện hơn 
              để đạt được sứ mệnh của BSTA. 
            </li>
            <li class = "my-3">
                Bên cạnh Blair Singer, một sứ mệnh mới được khai phá trong chúng tôi: <b>Nâng Tầm Sự Thịnh Vượng Của
                Tài Chính Của Nhân Loại</b>. Thế là, BS-RK, Học viện của Blair Singer và Robert Kiyosaki được thành lập.
            </li>
          </ol>
        </div>
      </div>

      <div class="row" style="background-image : url(assets/img/history/children_face.jpg);  background-position-x: 30px; 
      background-size : cover;">
        <div style = " padding-left : 60px;color : white; font-size : 25px;background-color : rgba(34,34,34,0.6); height : 100%; width : 100%;padding-top : 150px; padding-bottom : 150px;">
            <h2 style="color : #fdd043 ;font-weight: 1000; font-size : 60px; font-family: Kanit">Mong Đợi</h2>
            <ul style = "width : 600px ; font-family: Helvetica">
            <li class = "my-4">Các doanh nhân trẻ tuổi với tư duy tài chính xuất chúng</li>
            <li class = "my-4">Câu lạc bộ Cashflow tiếp cận mọi lứa tuổi, mọi nơi ở Việt Nam</li>
            <li class = "my-4">Thế hệ mới của Việt Nam sở hữu dòng tiền thụ động và bất động sản</li>
          </ul>
        </div>
      </div>
    </div>

  </section>

  <!--========================================================
                          FOOTER
  =========================================================-->
  <%- include('./components/footer'); %>
  <!--========================================================
                        Loader and toTop
  =========================================================-->
  <div id="preloader">
    <div class="preloader">
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="toTop">
    <i class="ti-arrow-up"></i>
  </div>

  <!-- js -->
  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js  "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>



</html>