<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from picwik.netlify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 06:50:13 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <!-- Meta tag -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/img/logo_BSRK.ico" type="image/x-icon">
  <!-- Title tag -->
  <title>Học viện BSRK</title>
  <!-- css -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
  <!--========================================================
                          HEADER
  =========================================================-->
  <%- include('./components/header', {name : name}); %>
  <!--========================================================
                          SLIDER
  =========================================================-->
  <section>
      <div class="container-fluid" style = "padding : 0">
        <div class="d-flex flex-column justify-content-center" style = "height : 1080px">
            <video style = "position: absolute" width = "1920" height = "1080" autoplay loop muted preload="none">
                <source src="https://baltimoredesignschool.com/wp-content/uploads/2018/04/baltimore-design-school_home-video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
          <div style = "z-index: 1000 ; color : white">
              <h2 style="color : white;font-weight: 1000; font-size : 5vw; font-family: Kanit">Phát Triển Chuyên Môn Cho <br>
                Nhà Huấn Luyện và Lãnh Đạo</h2>
              <p class="wow fadeInUp" style = "font-size : 25px" data-wow-delay=".4s">Vì vậy, sinh viên trải nghiệm học tập tốt hơn, cuộc sống tốt hơn.</p>

          </div>
        </div>
      </div>
  </section>
  <!--========================================================
                          CURRICULUM
  =========================================================-->
  <section class="curriculum pt100 pb80">
    <div class="container">
      <div class="row">
        <div class="col mb80">
          <h2 class="wow fadeInUp title-big" data-wow-delay=".3s">Since 2000, we've been partnering with education
            leaders to <br>
            <a href="#" class="link">increase equity
              and achievement</a> for all students.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="curriculum-item bxw wow fadeInUp hoverpop" data-wow-delay=".4s">
            <h4>Faculty Profile</h4>
            <h3>Brooke Holmes</h3>
            <p>Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an utype specimen book It has survive dries.</p>
            <a href="#" class="link">More information <i class="ti-angle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="curriculum-item bxw wow fadeInUp hoverpop" data-wow-delay=".5s">
            <h4>Academics</h4>
            <h3>Degrees & Departments</h3>
            <p>Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an utype specimen book It has survive dries.</p>
            <a href="#" class="link">More information <i class="ti-angle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="curriculum-img bxw wow fadeInUp hoverpop" data-wow-delay=".6s">
            <img src="/assets/img/curriculum-item.jpg" alt="">
          </div>
        </div>

        <div class="col-md-8">
          <div class="curriculum-quote bxw wow fadeInUp hoverpop" data-wow-delay=".4s">
            <h3>Since 2000, we've been partnering with education leaders to <a href="#">increase equity and
                achievement</a> for all students.</h3>
            <a href="#" class="link2">Learn More About Experience Coaching <i class="ti-angle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="curriculum-item bxw wow fadeInUp hoverpop" data-wow-delay=".5s">
            <h4>Academics</h4>
            <h3>Degrees & Departments</h3>
            <p>Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an utype specimen book It has survive dries.</p>
            <a href="#" class="link">More information <i class="ti-angle-right"></i></a>
          </div>
        </div>
      <div class="col-md-12 text-center">
          <div class="curriculum-search bxw wow fadeInUp hoverpop" data-wow-delay=".3s">
            <h2>What would you like to study</h2>
            <input type="search" placeholder="Search">
          </div>
        </div>
      </div>

      <%- include('./components/courses'); %>
    </div>
  </section>
  <!--========================================================
                          VIDEO
  =========================================================-->
  <section class="video video-yellow">
    <%- include('./components/video'); %>
  </section>
  <!--========================================================
                          GALLERY
  =========================================================-->
  <section class="gallery pt150">
    <div class="container mb80">
      <div class="row">
        <div class="col">
          <div class="section-title">
            <h2 class="wow fadeInUp" data-wow-delay=".2s">University Gallery</h2>
            <p class="wow fadeInUp" data-wow-delay=".3s">Academics champions innovation and personal development. That's
              why we organize a wide range of events,
              from conferences and master classes, to networking and informative sessions.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery-carousel owl-carousel owl-theme wow fadeInUp" data-wow-delay=".4s">
      <div class="item">
        <img src="/assets/img/gallery-1.jpg" alt="">
        <div class="gallery-carousel-content">
          <a href="/assets/img/gallery-1.jpg" data-fancybox><i class="ti-image"></i></a>
          <h3>Driving Innovation ( HD image )</h3>
        </div>
      </div>
      <div class="item">
        <img src="/assets/img/gallery-2.jpg" alt="">
        <div class="gallery-carousel-content">
          <a href="https://www.youtube.com/watch?v=YrTKQ9tKPoQ" data-fancybox><i class="fas fa-play"></i></a>
          <h3>Driving Innovation (4k Video - 3min)</h3>
        </div>
      </div>
      <div class="item">
        <img src="/assets/img/gallery-3.jpg" alt="">
        <div class="gallery-carousel-content">
          <a href="/assets/img/gallery-3.jpg" data-fancybox><i class="ti-image"></i></a>
          <h3>Driving Innovation ( HD image )</h3>
        </div>
      </div>
      <div class="item">
        <img src="/assets/img/gallery-4.jpg" alt="">
        <div class="gallery-carousel-content">
          <a href="https://www.youtube.com/watch?v=YrTKQ9tKPoQ" data-fancybox><i class="fas fa-play"></i></a>
          <h3>Driving Innovation (4k Video - 3min)</h3>
        </div>
      </div>
    </div>
  </section>
  <!--========================================================
                          FOOTER
  =========================================================-->
  <%- include('./components/footer'); %>

  <!--========================================================
                        Loader and toTop
  =========================================================-->
  <div id="preloader">
    <div class="preloader">
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="toTop">
    <i class="ti-arrow-up"></i>
  </div>

  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js  "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>


<!-- Mirrored from picwik.netlify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 06:50:50 GMT -->
</html>