<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from picwik.netlify.com/news-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 06:52:37 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <!-- Meta tag -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/img/logo_BSRK.ico" type="image/x-icon">
  <!-- Title tag -->
  <title>Học viện BSRK</title>
  <!-- css -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
  <!--========================================================
                          HEADER
  =========================================================-->
  <%- include('./components/header', {name : name}); %>
  <!--========================================================
                          BREADCRUMB
  =========================================================-->
  <section class="breadcrumb breadcrumb-img">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Blog</h1>
          <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/news">Tin tức</a></li>
            <li>Blog</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--========================================================
                        NEWS
  =========================================================-->
  <section class="news-single pt60 pb50">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="font-weight-bold">
            Published on <span class="c-yellow">27 Mar 2019</span>
          </div>
          <h1>Promoting Access and Inclusion <br>
            for Young Learners</h1>
          <p>Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever <br> since the 1500s, when an utype specimen book It has survive dries.
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has <br> roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney <br> College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
            Lorem Ipsum passage.</p>
        </div>
      </div>
    </div>
    <div class="news-item-img mtb50">
      <img src="/assets/img/news-single.jpg" alt="">
      <i data-src="https://www.youtube.com/watch?v=9xwazD5SyVg" data-fancybox class="fas fa-play"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb30">A history of recognising and nurturing talent</h2>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source.</p>

          <p class="mt30">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of <a href="#" class="link">"de Finibus
              Bonorum et Malorum"</a> (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a
            treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem
            ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
      </div>
      <div class="row mt30">
        <div class="col-md-8">
          <div class="quote mb30">
            Since 2000, we've been partnering with education leaders to <a href="#">increase equity and achievement</a>
            for all students.
          </div>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. <a href="#" class="link2">Lorem Ipsum comes from sections</a> and 1.10.33 of "de Finibus Bonorum et
            Malorum" (The Extremes of Good and Evil)
            by Cicero, written in 45 BC.</p>
        </div>
        <div class="col-md-4 rmt30">
          <img src="/assets/img/news-single-img.jpg" alt="">
        </div>
        <div class="col-md-12 mt30">
          <h2>As an adaptive learning center teacher, Andy goes above and <br>
            beyond to ensure students with diverse learning needs can succeed <br>
            in a general education setting.</h2>
          <p class="mtb30">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a <a href="#"
              class="link2">Latin professor at Hampden-Sydney College in Virginia,</a> looked up one of the more obscure
            Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
            literature.</p>

          <p>Discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
            Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on
            the theory of ethics, very popular during the Renaissance. The first line
            of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt30 mb10">
          <div class="curriculum-quote bxw"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <h3>Since 2000, we've been partnering with education leaders to <a href="#">increase equity and
                achievement</a> for all students.</h3>
            <a href="#" class="link2">Learn More About Experience Coaching <i class="ti-angle-right"></i></a>
          </div>
        </div>
        <div class="col-md-12">
          <h2>Explore Special Education Programs</h2>
          <p class="mtb30">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
            Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
            undoubtable source.</p>

          <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
            Good and Evil) by Cicero, written
            in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first
            line of Lorem Ipsum, "Lorem ipsum
            dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
        <div class="col-md-12 mt80 wow fadeInUp" data-wow-delay=".3s">
          <h2>Related Articles</h2>
          <div class="news-carousel owl-carousel owl-theme mt40">
              <%- include('./components/related_article'); %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--========================================================
                          FOOTER
  =========================================================-->
  <%- include('./components/footer'); %>
  <!--========================================================
                        Loader and toTop
  =========================================================-->
  <div id="preloader">
    <div class="preloader">
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="toTop">
    <i class="ti-arrow-up"></i>
  </div>

  <!-- js -->
  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js  "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>


<!-- Mirrored from picwik.netlify.com/news-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2019 06:52:39 GMT -->
</html>